@font-face {
  font-family: Lato-reg;
  src: url(../fonts/Lato-Regular.woff2); }

@font-face {
  font-family: Lato-light;
  src: url(../fonts/Lato-Light.woff2); }

@font-face {
  font-family: Lato-bold;
  src: url(../fonts/Lato-Black.woff2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: Lato-reg, "Lucida Grande", Tahoma, Sans-Serif;
  line-height: 1.4; }

body,
a,
a:focus,
a:hover,
a:visited {
  color: #878679; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.txt--light {
  font-family: Lato-light, "Lucida Grande", Tahoma, Sans-Serif; }

.txt--bold {
  font-family: Lato-bold, "Lucida Grande", Tahoma, Sans-Serif; }

.txt--white {
  color: #FFFFFF; }

.txt--reg {
  font-size: 1rem; }

.txt--med {
  font-size: 1.125rem; }

.txt--xs {
  font-size: 0.6875rem; }

.txt--uppercase {
  text-transform: uppercase; }

.home-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 7.1875em;
  margin: 0 auto;
  padding: 0 1em; }

.home-grid__card {
  padding: 1em;
  grid-row: span 1; }

.home-grid__card {
  grid-column: 1 / -1; }

.home-grid__card--tall {
  grid-row: span 2; }

.home-grid__card--chunky {
  grid-row: span 2; }

@media (min-width: 768px) and (max-width: 978px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr); }
  .home-grid__card {
    grid-row: span 2;
    grid-column: span 2; }
  .home-grid__card--tall {
    grid-column: span 2; } }

@media (min-width: 978px) {
  .header,
  .main,
  .footer {
    width: 978px;
    margin: 0 auto; }
  .home-grid {
    grid-template-columns: repeat(5, 1fr); }
  .home-grid__card {
    grid-column: span 1; }
  .home-grid__card--wide {
    grid-column: span 2; }
  .home-grid__card--tall {
    grid-row: span 2; }
  .home-grid__card--chunky {
    grid-column: span 2;
    grid-row: span 2; } }

.home-cover-animation {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F28B00;
  -webkit-animation: coverAn 5s 1 forwards;
  animation: coverAn 5s 1 forwards;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center; }

@-webkit-keyframes coverAn {
  0% {
    width: 100vw;
    height: 100vh; }
  50% {
    width: 100vw;
    height: 50vh; }
  100% {
    width: 0;
    height: 50vh;
    display: none; } }

@keyframes coverAn {
  0% {
    width: 100vw;
    height: 100vh; }
  50% {
    width: 100vw;
    height: 50vh; }
  100% {
    width: 0;
    height: 50vh;
    display: none; } }

.home-grid__card {
  display: grid;
  justify-content: flex-start;
  align-content: flex-end;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity ease-out 0.2s; }

.home-grid__card:hover {
  opacity: 0.8; }

.home-grid__card,
a.home-grid__card {
  color: #FFFFFF; }

.home-grid__card--center {
  align-content: center; }

.home-grid__card--top {
  align-content: flex-start; }

a.home-grid__card:before {
  content: '';
  position: absolute;
  right: 1em;
  bottom: 1em;
  background-image: url(../images/home/circle-plus.png);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 25px;
  height: 25px; }

.home-grid__card:nth-child(1) {
  background-color: #F28B00; }

.home-grid__card:nth-child(2) {
  background-image: url(../images/home/color-of-year.png); }

.home-grid__card:nth-child(3),
.home-grid__card:nth-child(8),
.home-grid__card:nth-child(14) {
  background-color: #6a8aaa; }

.home-grid__card:nth-child(4) {
  background-image: url(../images/home/ssy_webdesign.jpg); }

.home-grid__card:nth-child(5) {
  background-image: url(../images/home/bupa_employeenews.jpg); }

.home-grid__card:nth-child(6) {
  background-image: url(../images/home/hsbc_university.jpg); }

.home-grid__card:nth-child(7),
.home-grid__card:nth-child(12) {
  background-color: #AFB744; }

.home-grid__card:nth-child(9) {
  background-image: url(../images/home/waves_mobileapp.jpg); }

.home-grid__card:nth-child(10) {
  background-image: url(../images/home/aboutus.jpg); }

.home-grid__card:nth-child(11) {
  background-image: url(../images/home/employee_engagement.png); }

.home-grid__card:nth-child(13) {
  background-image: url(../images/home/agnovos_corpwebsite.jpg); }

.home-grid__card:nth-child(15) {
  background-color: #8a5668; }

.home-grid__card:nth-child(16) {
  background-image: url(../images/home/hsbc_mentoringportal.jpg); }
